@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Kalnia:wght@400;500&family=Oswald:wght@700&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Kalnia', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif; */